body{
    font-family: 'Poppins', sans-serif;
}

p{
    color:#666
}

.container{
    margin-bottom: 100px;
}


.carousel-item{
    padding: 0 30px;
}
.carousel-item h1{
    margin-bottom: 20px;
}

.buy-now-button{
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
}

.carousel-indicators{
    bottom: -30px;  
}
.carousel-indicators li{
    background-color: #666;
}
.see-all-button{
    color: rgb(197, 169, 116);
}
.card{
    padding: 20px;
    border: none;
    box-shadow: 5px 7px 10px #666;
    border-radius: 10px;
}

hr{
    width: 130px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #FF9C35, #FFD019);
}
.cat1{
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px #666;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.cat2{
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px #666;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-bottom: 10px;
}
.cat3{
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px #666;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;

}

.cat1 img{
    width: 50px;
    margin-top: 30px;
}
.cat2 img{
    width: 50px;
    margin-top: 30px;
}
.cat3 img{
    width: 50px;
    margin-top: 30px;
}